<div class="header">
    <h1> Twitter Explorer </h1>
</div>

<!-- <main role="main" class="inner cover">
          <h1 class="cover-heading">Cover your page.</h1>
      </main> -->
<div class="wrap">
    <div class="search">
        <input #box (keyup.enter)="onEnter(box.value)" type="text" class="searchTerm" placeholder="What are you looking for?">
        <button type="submit" class="searchButton" (click)="onEnter(box.value)">
                  <i class="fa fa-search"></i>
              </button>
    </div>
    <!-- <div>
        <p>
            {{ result }}
        </p>
    </div> -->
</div>

<footer class="mastfoot mt-auto">
    <p>B-TECH PROJECT LNMIIT</p>
</footer>